header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.infos-post {
    display: flex;
    align-items: center;
    gap: 16px;
}

.img.post{
    width: 100%;
    object-fit: cover;
    

}