/* Home.css */

body {
  background-color: #15202b;
  color: #fff;
}

.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 13px;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 8px;
  width: 250px;
  background-color: #253341;
  color: #fff;
}

.search button {
  padding: 8px;
  background-color: chocolate;
  color: #15202b;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-bottom: -5px;
  cursor: pointer;
}

.menu button {
  padding: 8px;
  background-color: chocolate;
  color: #15202b;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-bottom: -8px;
  cursor: pointer;
  margin-left: 10px;
}

.content {
  display: flex;
}

.posts {
  width: 600px;
  margin-right: 20px;
}

.post {
  background-color: #253341;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post p {
  margin: 0;
  color: #fff;
}

.post-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-info h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.post-info span {
  font-size: 14px;
  color: #657786;
  margin-left: auto;
}

.sidebar {
  width: 300px;
}

.trending {
  background-color: #253341;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.trending h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
}

.trending ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trending li {
  font-size: 16px;
  margin-bottom: 10px;
  color: chocolate;
  cursor: pointer;
}

.trending li:hover {
  text-decoration: underline;
  color: #fff;
}

/* Posts */

.post-form {
  background-color: #253341;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.post-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.post-form input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #15202b;
  color: #fff;
}

.post-form button[type="submit"] {
  padding: 8px;
  background-color: chocolate;
  color: #15202b;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}


.operation{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info{
  display: flex;
  text-align: center;

  justify-content: center;
  
  background-color: #253341;
  width: 260px;
  height: max-content;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 10px;
  color: orange;
}

.content{
  display: flex;
  

  justify-content: center;
}