  /* Tela de Login e Register */
  .custom {
    font-family: Arial, sans-serif;
    background-color: #15202b;
}

.custom h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}

.custom form {
    width: 350px;
    margin: 0 auto;
    background-color:  #15202b;
    border: 1px solid chocolate;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.custom label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.custom input[type='text'],
.custom input[type='email'],
.custom input[type='password'] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid  #15202b;
    font-size: 16px;
    margin-bottom: 20px;
}

.custom button[type='submit'] {
    background-color: chocolate;
    border: none;
    color:  #15202b;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 106%;
    margin-bottom: 10px;
}

.custom button[type='submit']:hover {
    background-color: chocolate;
}

.custom p {
    text-align: center;
    margin-top: 10px;
}

.custom a {
    text-decoration: none;
    color: chocolate;
    font-size: 14px;
}

.custom a:hover {
    text-decoration: underline;
}

.custom .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom .login-container form {
    margin-top: 50px;
}

.custom .login-container button[type='submit'] {
    margin-top: 20px;
}

.custom .register-container form {
    margin-top: 50px;
}

.custom .register-container button[type='submit'] {
    margin-top: 20px;
}

.custom .link-container {
    margin-top: 20px;
}

