/* Posts */
.post {
    background-color: #253341;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-header h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #fff;
  }
  
  .post-content {
    margin-top: 20px;
  }
  
  .post-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .post-content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  
  .post button {
    padding: 8px;
    background-color: chocolate;
    color: black;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .post button:hover {
    background-color: chocolate;
  }

  /* Comments */
  .post-comments {
    margin-top: 20px;
    border-top: 1px solid ;
    padding-top: 20px;
  }

  .comment {
    background-color: #15202b;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .add-comment {
    margin-top: 20px;
    border-top: 1px solid ;
    padding-top: 20px;
    margin-right: 50px;

  }

  .add-comment button {
    margin-left: 10px;
  }

  .add-comment input {
    background-color: #15202b;
    color: white;
    width: 800px;
  }
  