  /* Tela de Login e Register */
  body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    }
    
    h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    }
    
    form {
    width: 350px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    }
    
    label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    }
    
    input[type='text'],
    input[type='email'],
    input[type='password'] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 20px;
    }
    
    button[type='submit'] {
    background-color: #3897f0;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    }
    
    button[type='submit']:hover {
    background-color: #38ace0;
    }
    
    p {
    text-align: center;
    margin-top: 10px;
    }
    
    a {
    text-decoration: none;
    color: #3897f0;
    font-size: 14px;
    }
    
    a:hover {
    text-decoration: underline;
    }
    
    /* Classe para o componente de Login */
    .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .login-container form {
    margin-top: 50px;
    }
    
    .login-container button[type='submit'] {
    margin-top: 20px;
    }
    
    /* Classe para o componente de Registro */
    .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .register-container form {
    margin-top: 50px;
    }
    
    .register-container button[type='submit'] {
    margin-top: 20px;
    }
    
    /* Classe para o link "Cadastrar-se" ou "Entrar" */
    .link-container {
    margin-top: 20px;
    }